#timetable {
  margin-top: 40px;
  width: 100%;
  border-collapse: collapse;
}

#timetable th, 
#timetable td {
  border: 1px solid black;
  padding: 8px;
}

#timetable th {
  background-color: #f2f2f2;
}

.passed {
  text-decoration: line-through;
  color: gray;
}
